h1 {text-align: center; 
    font-weight: bold;

}

#first {color: red;}
#second {color: blue;}
#third {color: green;}
#fourth {font-size: 80px;}
#fifth {color: 10px;}
#sixth {text-align: center;}
#seventh {font-weight: bold;}
#eighth {font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
#ninth {font-size: 40px;
    color: orange;
    font-weight: bold ;

}